[submodule "vendor/unity/unity-src"]
	path = vendor/unity/unity-src
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "vendor/mbedtls"]
	path = vendor/mbedtls
	url = git@github.com:ARMmbed/mbedtls.git
